body {
  background-color: rgb(140, 235, 231);
  font-family: "Single Day";
  color: rgb(1, 1, 96);
  font-size: 17px;
  line-height: auto;
  text-align: center;
}
h1 {
  color: rgb(10, 10, 238);
  font-family: "Permanent Marker", cursive;
  line-height: 20px;
}

a {
  color: rgb(10, 118, 82);
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  background-color: rgb(3, 18, 160);
}

img {
  width: 100px;
  border-radius: 50%;
}

.card {
  margin: 10px auto;
  padding: 10px;
  border: 3px;
  background-color: rgb(202, 227, 250);
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 10px 30px;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 540px) {
  .card {
    width: 300px;
  }
}
